<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <%= image_tag (post.image.url(:small))%>
  <% end %>
  <h2><%= link_to post.title, post%></h2>
  <p><%= post.comments.count %> Comments</p>
  <p><%= post.get_likes.size %> Likes </p>
<% end %>

<%= link_to "Add New Inspiration", new_post_path %>
