<!DOCTYPE html>
<html>
  <head>
    <title>Muse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% link_to :rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" %>
  	<% link_to :rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  </head>

  <body>
    <header >
      <div class="wrapper.clearfix">
        <div id="logo">
          <%= link_to "Muse", root_path %>
          <nav>
            <% if user_signed_in? %>
              <%= link_to current_user.name, edit_user_registration_path %>
              <%= link_to "Add New Inspiration", new_post_path, class: "button" %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %>
              <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
            <% end %>
          </nav>
        </div>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
